#mainSubmit {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

#mainBody {
  margin: 5%;
  margin-top: 15px;
}

#headerText {
  margin-bottom: 30px;
}

/* identify.html */
#showResults {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

#card-area {
  margin-top: 10%;
}

#tasting-area.hidden {
  display: none;
}

#code-input.hidden {
  display: none;
}

#results-area.hidden {
  display: none;
}

#winning-div {
  padding: 0 0.75rem;
}

#login-buttons {
  text-align: center;
  margin-bottom: 15px;
}

.brand-logo {
  margin-left: 10px;
}

.day-area {
  margin-bottom: 0px;
}

.info-buttons {
  display: inline;
  margin-left: 15px;
  margin-bottom: 30px;
}

/* had to do it this way... couldn't beat specificity here */
#rating1 {
  width: 75%;
}
#rating2 {
  width: 75%;
}
#rating3 {
  width: 75%;
}
#rating4 {
  width: 75%;
}
#rating5 {
  width: 75%;
}
#rating6 {
  width: 75%;
}
#rating7 {
  width: 75%;
}
#rating {
  width: 75%;
}
#rating8 {
  width: 75%;
}
#rating9 {
  width: 75%;
}
#rating10 {
  width: 75%;
}
#rating11 {
  width: 75%;
}
#rating12 {
  width: 75%;
}
